html,
body {
    height: 100%;
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.697);
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-container {
    width: 40%;
    height: 90%;
    border-radius: 15px;
    border: 2px solid #00ffe5;
    box-shadow: 0px 0px 10px #00f7ff,
        0px 0px 10px #00f7ff inset;
    color: white;
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.863);
}

.todo-title {
    font-size: 50px;
}

.input-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input-container input {
    width: 83%;
    height: 30px;
    border-radius: 5px;
    outline-color: white;
    padding: 0 5px;
    border: none;
}

.input-container button {
    width: 12%;
    height: 34px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    background-color: #00ffe5;
}

.input-container button:hover {
    box-shadow: 0px 0px 10px #00ffc3;
}

.todo-list {
    list-style-type: none;
    padding: 0px;
}

.todo-list-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.todo-list-item input {
    margin-right: 15px;
}

.todo-list-item button {
    border-radius: 5px;
    border: none;
    margin-left: auto;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 7px 10px;
}


.todo-list-item button:hover {
    box-shadow: 0px 0px 10px #ff0048;
}